.popup-block{
    width: 100%;
    min-height: 50px;
    display: flex;
    padding-top: 25px;
    position: absolute;
    top: 0;
    justify-content: center;
}

.popup-block__container{
    width: 50%;
    min-height: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow:  inset 0 0 0.5px 1px hsla(0, 0%,  
              100%, 0.075),
              /* shadow ring 👇 */
              0 0 0 1px hsla(0, 0%, 0%, 0.05),
              /* multiple soft shadows 👇 */
              0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
              0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
              0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    line-height: 1.4;
    text-align: center;
}

.SHOW-PLAIN-TEXT{
    font-weight: 500;
}

.popup-block.entering{
    animation: show-loader .5s forwards;
}

.popup-block.exiting{
    animation: show-loader .5s reverse forwards;
}

.popup-block.exited{
    display: none;
}

@keyframes show-loader {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }
}

